<div id="<%= dom_id cart %>">
  <h2 class="font-bold text-lg mb-3">Your Cart</h2>
  <table class="table-auto">
    <% cart.line_items.each do |line_item| %>
      <% render cart.line_items %>
    <% end %>
  </table>
</div>
<%= button_to 'Empty Cart', cart, method: :delete, class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
